@*model IEnumerable<KooliProjekt.Data.Transactions>*@
@model PagedResult<Transactions>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Transaction ID@*Html.DisplayNameFor(model => model.TransactionId) <!-- Display header for Transaction ID -->*@
            </th>

            <th>
                Transaction Time @*Html.DisplayNameFor(model => model.TransactionTime)*@
            </th>
            <th>
                Investment Type @*Html.DisplayNameFor(model => model.InvestmentType)*@
            </th>
            <th>
                Asset ID @*Html.DisplayNameFor(model => model.AssetId)*@
            </th>
            <th>
                Action @*Html.DisplayNameFor(model => model.Action)*@
            </th>
            <th>
                Transacterd Amount @*Html.DisplayNameFor(model => model.TransactedAmount)*@
            </th>
            <th>
                Transaction Unit Cost @*Html.DisplayNameFor(model => model.TransactionUnitCost)*@
            </th>
            <th>
                Transaction result @*Html.DisplayNameFor(model => model.TransactionResult)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {@*Pageri jaoks peab siin olema Model.Results. *@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId) @*siin peab olema item*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionUnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionResult)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@(await Component.InvokeAsync<PagerViewComponent>(new { result = Model, viewName = "Default" }))@*annab siin errori mingil p]hjusel*@ 