@*model IEnumerable<KooliProjekt.Data.Transactions>*@
@model PagedResult<TransactionsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Transaction Time @*Html.DisplayNameFor(model => model.TransactionTime)*@
            </th>
            <th>
                Transaction ID@*Html.DisplayNameFor(model => model.TransactionId) <!-- Display header for Transaction ID -->*@
            </th>

            <th>
                Asset ID @*Html.DisplayNameFor(model => model.AssetId)*@
            </th>
            <th>
                Asset Name @*Html.DisplayNameFor(model => model.AssetId)*@
            </th>
           @*  <th>
                Investment Type @*Html.DisplayNameFor(model => model.InvestmentType)*@
            @*</th> *@
            <th>
                Action @*Html.DisplayNameFor(model => model.Action)*@
            </th>
            <th>
                Balance Before @*Html.DisplayNameFor(model => model.AssetId)*@
            </th>
            <th>
                Transacterd Amount @*Html.DisplayNameFor(model => model.TransactedAmount)*@
            </th>
            <th>
                Transaction Unit Cost @*Html.DisplayNameFor(model => model.TransactionUnitCost)*@
            </th>
            <th>
                Transaction Sum @*Html.DisplayNameFor(model => model.TransactionResult)*@
            </th>
            <th>
                Balance after
            </th>
            <th>
                Asset Type
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {@*Pageri jaoks peab siin olema Model.Results. *@
        <tr>
            <td>@Html.DisplayFor(nodelItem => item.TransactionTime)</td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionID) @*siin peab olema item*@
            <td>
                @Html.DisplayFor(modelItem => item.AssetId)
            </td>
            <td>@Html.DisplayFor(modelItem => item.AssetName)</td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceBefore)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TransactedUnitAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionUnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionSum)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.BalanceAfter)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetType)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@(await Component.InvokeAsync<PagerViewComponent>(new { result = Model, viewName = "Default" }))@*annab siin errori mingil p]hjusel*@ 