@*model IEnumerable<KooliProjekt.Data.UserFundsTransaction>*@
@model KooliProjekt.Data.PagedResult<KooliProjekt.Data.UserFundsTransaction>

@{
    ViewData["Title"] = "Index";
}
<h2>Wallet Transactions</h2>

<p>
    <a asp-action="Deposit" class="btn btn-primary">Deposit</a>
    <a asp-action="Withdraw" class="btn btn-primary">Withdraw</a>
</p>
<h2>Wallet Transactions History</h2>

<p>
    <!--a asp-action="Create">Create New</!--a-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FundID@*Html.DisplayNameFor(model => model.FundID)*@
            </th>
            <th>
                Transactiontype @*Html.DisplayNameFor(model => model.TransactionType)*@
            </th>
            <th>
                Amount @*Html.DisplayNameFor(model => model.Amount)*@
            </th>
            <th>
                TransaCtionDate @*Html.DisplayNameFor(model => model.TransactionDate)*@
            </th>
            <th>
               Comment @*Html.DisplayNameFor(model => model.Comment)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FundID)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
           
         @*<td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td >*@
            <td>
                    @if (item.TransactionType == TransactionType.Withdrawal)
                    {
                        @Html.Raw("-" + item.Amount)

                    }
                    else
                    {
                        @item.Amount;
                    }
            </td>@*Lisatud miinuse panek enne  withdrawali v''rtust*@
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>20.11 tabeli loogilisemaks tegemine, viidud ylesse*@ 
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.FundsTransactionId">Edit</a> | 20.11 eemaldatus sest seal ei tohi olla. -->
                <!--a asp-action="Delete" asp-route-id="@item.FundsTransactionId">Delete</!--a-->
                <a asp-action="Details" asp-route-id="@item.FundsTransactionId">Details</a> <!--|-->
            </td>
        </tr>
}
    </tbody>
</table>
@*Lisatud pager 19.11*@
@(await Component.InvokeAsync<PagerViewComponent>(new { result = Model, viewName = "Default" }))
